

<!-- ======================form -->
<div class="form" *ngIf="addstatus">

<h1 style="margin-bottom: 30px;">Personal Data Portfolio</h1>

<fieldset>
  <legend>Basic Info</legend>

<div class="basic-inputs">
<label for="fname">First Name:</label>
<input
  type="text"
  name=""
  id=""
  placeholder="enter first name..."
  required
  [(ngModel)]="form.fname"
  #fnameRef="ngModel"
/>
<div *ngIf="form.fname=='' && fnameRef.touched" class="error-text">Please enter First Name</div>
</div>
<div class="basic-inputs">
<label for="lname">Last Name:</label>
<input
  type="text"
  name=""
  id=""
  placeholder="enter last name..."
  required
  [(ngModel)]="form.lname"
  #lnameRef="ngModel"
/>
<div *ngIf="form.lname=='' && lnameRef.touched" class="error-text">Please enter last Name</div>
</div>
<div class="basic-inputs">
<label for="phone">Phone No:</label
><input
  type="text"
  placeholder="Enter Phone Number..."
  [(ngModel)]="form.phone"
  #phoneRef="ngModel"
/>
<div *ngIf="form.phone=='' && phoneRef.touched" class="error-text">Please enter Phone Number</div>
</div>
<div class="basic-inputs">
<label for="age">Age:</label
><input type="text" placeholder="Enter your age..." [(ngModel)]="form.age" #ageRef="ngModel" />
<div *ngIf="form.age=='' && ageRef.touched" class="error-text">Please enter age</div>
</div>
<div class="input-gender">
<label>Gender:</label>
<input
  type="radio"
  name="gender"
  id="male"
  value="Male"
  [(ngModel)]="form.gender"
  style="cursor: pointer"
  #genderRef="ngModel"
/>
<label for="male">Male</label>

<input
  type="radio"
  name="gender"
  id="female"
  value="Female"
  [(ngModel)]="form.gender"
  style="cursor: pointer"
  #genderRef="ngModel"
/>
<label for="female">Female</label>
<div *ngIf="form.gender=='' && genderRef.touched" class="error-text">
  Please select a gender
</div>
</div>
</fieldset>
<br />
<fieldset>
  <legend>Address</legend>
  <label for="country">Country:</label
  ><input
    type="text"
    name=""
    id=""
    placeholder="enter country..."
    required
    [(ngModel)]="form.address.country"
    #countryRef="ngModel"
  />
  <div *ngIf="form.address.country=='' && countryRef.touched" class="error-text">Please enter country</div>

  <label for="state">State:</label
  ><input
    type="text"
    name=""
    id=""
    placeholder="enter state..."
    required
    [(ngModel)]="form.address.state"
    #stateRef="ngModel"
  />
  <div *ngIf="form.address.state=='' && stateRef.touched" class="error-text">Please enter state</div>

  <label for="city">City:</label
  ><input
    type="text"
    name=""
    id=""
    placeholder="enter city..."
    required
    [(ngModel)]="form.address.city"
    #cityRef="ngModel"
  />
  <div *ngIf="form.address.city=='' && cityRef.touched" class="error-text">Please enter city</div>

  <label for="Street">Street No:</label
  ><input
    type="text"
    name=""
    id=""
    placeholder="enter street No..."
    required
    [(ngModel)]="form.address.street"
    #streetRef="ngModel"
  />
  <div *ngIf="form.address.street=='' && streetRef.touched" class="error-text">Please enter street</div>

  <label for="house">House:</label
  ><input
    type="text"
    name=""
    id=""
    placeholder="enter house..."
    required
    [(ngModel)]="form.address.house"
    #houseRef="ngModel"
  />
  <div *ngIf="form.address.house=='' && houseRef.touched" class="error-text">Please enter house</div>

  <label for="postalcode">Postal Code:</label
  ><input
    type="text"
    name=""
    id=""
    placeholder="enter Postal Code..."
    required
    [(ngModel)]="form.address.postalcode"
    #pcRef="ngModel"
  />
  <div *ngIf="form.address.postalcode=='' && pcRef.touched" class="error-text">Please enter postal code</div>

</fieldset>
<div *ngIf="!formvalid()" style="font-size: 28px; color: red; margin-bottom: 10px;">Fill all entries to submit data</div>
<button [disabled]="!formvalid()" (click)="submit()">Submit</button>

</div>

<div class="edit-overlay" [ngClass]="{ 'visible': showEditForm, 'hidden': !showEditForm }">
  <div class="edit-popup">
    <app-edit-form
    *ngIf="showEditForm"
  [user]="selectedUser" 
  (formSubmitted)="onFormSubmit()"
  (cancelEdit)="showEditForm = false"
></app-edit-form>
  </div>
</div>

 <!-- [user]="selectedUser"          

<!-- ==================display data -->
<div>

<h1 style="text-align: center">Display Data</h1>
<span
  style="color: blueviolet; font-size: 20px; text-align: center; display: block"
  >Total: {{ dataList.length }}</span
>


<table *ngIf="dataList.length > 0">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Country</th>
      <th>State</th>
      <th>City</th>
      <th>Street</th>
      <th>House</th>
      <th>Postal Code</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataList">
      <td>{{ item.firstname }}</td>
      <td>{{ item.lastname }}</td>
      <td>{{ item.phone }}</td>
      <td>{{ item.age }}</td>
      <td>{{ item.gender }}</td>
      <td>{{ item.address?.country }}</td>
      <td>{{ item.address?.state }}</td>
      <td>{{ item.address.city }}</td>
      <td>{{ item.address.street }}</td>
      <td>{{ item.address.house }}</td>
      <td>{{ item.address.postalcode }}</td>
      <td>
        <button
          class="toggle-button"
          (click)="item.showActions = !item.showActions"
        >
          {{ item.showActions ? "Hide" : "Show" }}
        </button>
        <div *ngIf="item.showActions" class="action-buttons">
          <button style="background-color: red" (click)="delete(item.phone)">
            Delete
          </button>
          <button style="background-color: blueviolet" (click)="edit(item)">
            Edit
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div
  *ngIf="dataList.length<=0"
  style="text-align: center; color: crimson; margin-top: 20px; margin-bottom: 20px; font-size: 28px;"
>
  No user found
</div>
</div>
